[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pydantic = "*"
httpx = "*"
google-auth = "*"
google-cloud-storage = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.13"
