[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
httpx = "*"
google-auth = "*"
st-theme = "*"
opencv-python = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.13"
